@using Microsoft.JSInterop

<div class="editor-container" id="@EditorId"></div>

@code {
    private DotNetObjectReference<Editor>? dotnetObjRef;

    [Inject]
    public IJSInProcessRuntime JsRuntime { get; set; }

    [Parameter]
    public EventCallback<string> CodeChanged { get; set; }

    [Parameter]
    public string EditorId { get; set; } = "monaco-editor";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            dotnetObjRef = DotNetObjectReference.Create(this);
            this.JsRuntime.InvokeVoid("Editor.create", EditorId, WorkspaceService.DEFAULT_TEMPLATE, dotnetObjRef);
        }

        base.OnAfterRender(firstRender);
    }

    [JSInvokable]
    public void updateCode(string code)
    {
        WorkspaceService.Code = code;
    }

    [JSInvokable]
    public async Task getCompletionItems(string code, int offset)
    {
        Console.WriteLine(code);
        await LanguageProvider.GetCompletionItems(code, offset);
    }
}
