@using Microsoft.JSInterop;
@inject IJSInProcessRuntime JsRuntime;

<div class="editor" >
    <div class="editor-nav"></div>

    <div class="editor-container" id="@EditorId"></div>

    <div class="editor-statusbar @(IsCompiling ? "compiling" : string.Empty) @(HasIssues ? "haserror" : string.Empty)">
        @if(IsCompiling)
        {
            <span>Compiling...</span>
        }
        else if (HasIssues)
        {
            <span>@(Issues.Count()) issues</span>
        } 
    </div>
</div>

@code {
    private DotNetObjectReference<Editor>? dotnetObjRef;

    [Parameter]
    public EventCallback<string> CodeChanged { get; set; }

    [Parameter]
    public string EditorId { get; set; } = "monaco-editor";

    public bool IsCompiling { get; set; } = false;

    public bool HasIssues { get => Issues.Any(); }

    public IEnumerable<DiagnosticsProvider.Issue> Issues { get; set; } = [];

    [Parameter]
    [SupplyParameterFromQuery(Name = "code")]
    public string? defaultCode { get; set; }

    protected override void OnInitialized()
    {
        dotnetObjRef = DotNetObjectReference.Create(this);
        JsRuntime.InvokeVoid("Editor.create", EditorId, defaultCode ?? WorkspaceService.DEFAULT_TEMPLATE, dotnetObjRef);
    }

    [JSInvokable]
    public void updateCode(string code)
    {
        WorkspaceService.Code = code;
    }

    [JSInvokable]
    public async Task<IEnumerable<object>> getCompletionItems(string code, int offset)
    {
        var result = await CompletionProvider.GetCompletionItemsAsync(code, offset);
        return result.Select(x => (object)x);
    }

    [JSInvokable]
    public async Task<object?> getHoverinfo(int offset)
    {
        return (object?)(await HoverinfoProvider.GetHoverinfoAsync(offset));
    }

    [JSInvokable]
    public async Task<IEnumerable<object>> getDiagnostics(string code)
    {
        IsCompiling = true; 
        StateHasChanged();

        Issues = await DiagnosticsProvider.GetDiagnosticsAsync(code);

        IsCompiling = false;
        StateHasChanged();

        return Issues.Select(x => (object)x);
    }
}
