@using Microsoft.JSInterop

<div class="editor-container" id="@EditorId"></div>

@code {
    private DotNetObjectReference<Editor>? dotnetObjRef;

    [Inject]
    public IJSInProcessRuntime JsRuntime { get; set; }

    [Parameter]
    public EventCallback<string> CodeChanged { get; set; }

    [Parameter]
    public string EditorId { get; set; } = "monaco-editor";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            dotnetObjRef = DotNetObjectReference.Create(this);
            this.JsRuntime.InvokeVoid("Editor.create", EditorId, WorkspaceService.DEFAULT_TEMPLATE, dotnetObjRef);
        }

        base.OnAfterRender(firstRender);
    }

    [JSInvokable]
    public void updateCode(string code)
    {
        WorkspaceService.Code = code;
    }

    [JSInvokable]
    public async Task<IEnumerable<object>> getCompletionItems(string code, int offset)
    {
        var result = await CompletionProvider.GetCompletionItems(code, offset);
        return result.Select(x => (object)x);
    }

    [JSInvokable]
    public async Task<object?> getHoverinfo(int offset)
    {
        return (object?)(await HoverinfoProvider.GetHoverinfo(offset));
    }

    [JSInvokable]
    public async Task<IEnumerable<object>> getDiagnostics(string code)
    {
        var result = await DiagnosticsProvider.GetDiagnostics(code); 
        return result.Select(x => (object)x);
    }
}
