<div class="golyesz" 
	 style="--rotation: @((int)Position.Rotation); --offset-x: @(Position.Vector.x); --offset-y: @(Position.Vector.y)">
	<img src="/sprites/golyesz.png" />
</div>

@code {
	[Parameter]
	public Position Position { get; set; }
}
