<div class="level-container" style="--level-cols: @(Columns);">
	@for (int y = 0; y < Rows; y++)
	{
		@for (int x = 0; x < Columns; x++)
		{
			<div class="tile x@(x) y@(y)" />
		}
	}
</div>

@code {
	[Parameter]
	public int Columns { get; set; } = 41;
	
	[Parameter]
	public int Rows { get; set; } = 31;
}
