.level-container {
    display: grid;
    /*grid-template-columns: repeat(var(--level-cols), 1fr);*/
    grid-template-columns: repeat(var(--level-cols), var(--tile-size));
    grid-gap: 1px;
    width: 100%;
    height: auto;
}

.level-container > .tile {
    background-color: #d3d3d3;
    aspect-ratio: 1;
}

.level-container > .overlayed {
    position: absolute;
    top: 0;
    left: 0;
}
