<div class="level-container" style="--level-cols: @(Columns);">
	@for (int y = 0; y < Rows; y++)
	{
		@for (int x = 0; x < Columns; x++)
		{
			var _x = x; var _y = y; @* silly aah C# lambda behaviour *@
			<div @onclick="@(() => HandleClick(_x, _y))" class="tile x@(_x) y@(_y)" />
		}
	}
</div>

@code {
	[Parameter]
	public int Columns { get; set; } = 41;

	[Parameter]
	public int Rows { get; set; } = 31;

	public class CoordinateEventArgs : EventArgs
	{
		public int x { get; set; }
		public int y { get; set; }
	}

	[Parameter]
	public EventCallback<CoordinateEventArgs> OnClick { get; set; }

	async Task HandleClick(int x, int y)
	{
		await OnClick.InvokeAsync(new CoordinateEventArgs { x = x, y = y });
	}
}
