@page "/"
@using karesz.Components;

<PageTitle>karesz</PageTitle>

<FluentSplitter Orientation="Orientation.Horizontal" Panel1Size="40%" BarSize="6" Panel2MinSize="10px">
    <Panel1>
        <Editor />
    </Panel1>
    <Panel2>
        <div style="height: 100%; display: flex; flex-direction: column;">
            <div>
                <Game />
            </div>
            <div style="flex-grow: 1; flex: 1; overflow-y: auto;">
                <Logs />
            </div>
        </div>
    </Panel2>
</FluentSplitter>

