@page "/"
@using karesz.Components;

<PageTitle>karesz</PageTitle>

<FluentSplitter Orientation="Orientation.Horizontal" Panel1Size="50%" BarSize="6" Panel2MinSize="10px">
    <Panel1>
        <Editor />
    </Panel1>
    <Panel2>
        <div style="height: 100vh; display: flex; flex-direction: column; overflow: hidden;">
            <div>
                <Game />
            </div>
            <div id="logs" style="flex-grow: 1; flex: 1; overflow-y: auto; background-color: black;">
                <Logs />
            </div>
        </div>
    </Panel2>
</FluentSplitter>

