@page "/"
@using karesz.Components;

<PageTitle>karesz</PageTitle>

<FluentSplitter Orientation="Orientation.Horizontal" BarSize="6" Panel1MinSize="30%" Panel2MinSize="50px">
    <Panel1>
        <Editor @bind-Code=Code />
    </Panel1>
    <Panel2>
        <div class="demopanel">
            <p>
                Neque laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Suspendisse faucibus interdum posuere lorem ipsum
                dolor sit amet. Imperdiet sed euismod nisi porta lorem mollis aliquam. Malesuada proin libero nunc consequat interdum. Amet nisl purus
                in mollis nunc sed id semper risus. Nunc sed augue lacus viverra vitae congue eu. Fermentum dui faucibus in ornare quam viverra. Ut eu
                sem integer vitae. Interdum velit laoreet id donec ultrices tincidunt arcu non. Pellentesque dignissim enim sit amet. Scelerisque purus
                semper eget duis at.
            </p>
        </div>
    </Panel2>
</FluentSplitter>

<button onclick="@run">Compile And Run</button>

@code {
    [Inject] public CompilerSerivce CompilerService { get; set; }

    string Code = @"using System;
using karesz.Runner;

namespace MyApp
{
    class Program
    {
        static void Main(string args)
        {
            Console.WriteLine(""Hello World!"");

            var cs = new CompilerSerivce();
            Console.WriteLine(cs.ToString());

            CompilerSerivce.EpicTestFunction();
        }
    }
}
";

    async Task run()
    {
        try
        {
            await CompilerSerivce.Compile(Code);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"FAILED\n{ex.Message}");
        }
    }
}